* {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

html {
  background: #111;
}

body {
  background: #111;
  color: #fff;

  max-width: 450px;
  min-width: 360px;
  width: 100%;
  margin: 0 auto;
}

main {
  padding: 10px;
  position: relative;
}

a,
a:hover,
a:active,
a:visited {
  color: #333;
}

a:hover {
  text-decoration: none;
}
